.calendarJS h2{
  color:#cf3939;
  margin: 0 2px;
}
.sortingTable{
  border: 3px solid #9d9d9d;
  border-spacing: 0px 2px;
  border-radius: 12px;
  background-color: #fff9cced;
  padding: 0 10px;
}
.sortingTable td {
  padding: 2px 5px;
  text-align: center;
  border-bottom: 1px solid #9d9d9d;
}
#ball2{
  position: absolute;
}
.field{
  width: 450px;
  
  border: 10px groove black;
  background-color: #00FF00;
  position: relative;
  overflow: hidden;
}
.note {
  position: fixed;
  z-index: 1000;
  padding: 5px;
  border: 1px solid black;
  background: white;
  text-align: center;
  font: italic 14px serif;
}
.positionAt blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 0 0 0 100px;
  padding: .5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  display: inline-block;
  white-space: pre;
}

.positionAt blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
}