body{
  margin: 0;
  font: 14px/20px BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
h2 a{
  font-size: 32px;
  margin: 0 auto 12px;
  color:#333;
  text-decoration: none;
}
header{
  display: flex;
  border-bottom: 4px solid #b8d0b1;
  align-items: center;
  justify-content: space-between;
}
#jsr{
  margin-left: 60px;
}
.circle_prom {
  transition-property: width, height, margin-left, margin-top;
  transition-duration: 2s;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  background-color: red;
  border-radius: 50%;

}

.circle_on_prom {
  width: 0;
  height: 0;
}
.msg_japan {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 200px;
}